{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BandlaGuard</title>

    <!-- CSS (ONLY FROM STATIC) -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>

<body>

    <!-- NAVBAR -->
    {% include 'base/navbar.html' %}

    <!-- MAIN CONTENT -->
    <main class="main-container">
        {% block content %}
        {% endblock %}
    </main>

    <!-- FOOTER -->
    {% include 'base/footer.html' %}

</body>
</html>