<nav class="navbar">
    <div class="nav-container">

        <div class="logo">
            BandlaGuard 🚀
        </div>

        <div class="nav-menu">
            <a href="/dashboard/">Dashboard</a>
            <a href="/content/text/">Text Review</a>
            <a href="/content/image/">Image Review</a>
            <a href="/content/draft/">Draft Review</a>
            <a href="/content/history/">History</a>
            <a href="/shared/my-spaces/">Groups</a>
            <a href="/reports/summary/">Reports</a>
            <a href="/logout/" class="logout">Logout</a>
        </div>

    </div>
</nav>