{% extends 'base/base.html' %}

{% block content %}

<div class="card" style="max-width:500px; margin:auto;">
    <h2 class="text-center">Reset Password</h2>

    <form method="POST">
        {% csrf_token %}

        <label>Email</label>
        <input type="email" name="email" class="form-control" required>

        <br>

        <button type="submit" class="btn btn-warning" style="width:100%;">
            Send Reset Link
        </button>
    </form>

    <br>

    <div class="text-center">
        <a href="/" class="btn btn-primary">Back to Login</a>
    </div>
</div>

{% endblock %}