{% extends 'base/base.html' %}

{% block content %}

<div class="card" style="max-width:600px; margin:auto;">
    <h2>🖼 Image Safety Review</h2>
    <p>Upload an image to detect unsafe or sensitive content.</p>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="file" name="image" class="form-control" required>

        <br>

        <button type="submit" class="btn btn-success">Analyze Image</button>
        <a href="/dashboard/" class="btn btn-primary">Back</a>
    </form>
</div>

{% endblock %}